<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Add your own Article</h3>
    <form>
      <input type = "text" id = "title" placeholder= "Title">
      <input type = "text" id = "author" placeholder= "Author">
      <input type = "text" id = "link" placeholder= "Link">
      <input type = "text" id = "desc" placeholder= "Description">
      <input type = "text" id = "topic1" placeholder = "Topic 1">
      <input type = "text" id = "topic2" placeholder = "Topic 2">
      <input type = "text" id = "topic3" placeholder = "Topic 3">
      <input type = "submit" id = "submit" value= "Add Reference">
    </form>
    <h3>List of <%= title %></h3>
    <ul>
            <% for(let i = 0; i < data.length; i++) { %>
                <li>
                  <a href="<%=data[i].link%>" target ="_blank"><%= data[i].title %></a> : 
                  <%= data[i].desc %>
                  <%if(!data[i].desc) {%>No description listed<%}%>
                  <button class='delete' id="<%= data[i]._id %>">Delete</button>
                  <ul>
                    <li>Author: <% if(!data[i].author){%>No author listed<%} %>
                      <%= data[i].author %>
                    </li>
                    <li>
                      Topics: <% let emptyCount = 0 %>
                        <% for(let j = 0; j < data[i].topics.length; j++) { %>
                        <%= data[i].topics[j] %>
                        <% if(!data[i].topics[j]){emptyCount++}%>
                        <% if(emptyCount == data[i].topics.length) {%>No topics listed<%}%>
                      <% } %>
                    </li>
                    <li>Article ID: <%=data[i]._id %></li>
                  </ul>
                </li>
            <% } %>
    </ul>
    <h3>Update an Article: Not Implemented Yet</h3>
    <form>
      <p>Insert Article ID to Update</p>
      <input type = "text" id = "articleUpdate" placeholder = "Article ID">
      <p>Pick which value to update</p>
      <input type = "radio" id = "titleUpdate" name = "update">
      <label for = "titleUpdate">Title</label>
      <input type = "radio" id = "authorUpdate" name = "update">
      <label for = "authorUpdate">Author</label>
      <input type = "radio" id = "linkUpdate"  name = "update">
      <label for = "linkUpdate">Link</label>
      <input type = "radio" id = "descUpdate"  name = "update">
      <label for = "descUpdate">Description</label>
      <input type = "radio" id = "topic1Update"  name = "update">
      <label for = "topic1Update">Topic 1</label>
      <input type = "radio" id = "topic2Update"  name = "update">
      <label for = "topic2Update">Topic 2</label>
      <input type = "radio" id = "topic3Update"  name = "update">
      <label for = "topic2Update">Topic 3</label>
      <p>Input new value</p>
      <input type = "text" id = "updateField" placeholder= "New Value">
      <input type = "submit" id = "updateBtn" value= "Update">
    </form>
  </body>
  <script src='/javascripts/articles.js'></script>
</html>